#maintitle {
    color: rgb(117, 83, 8);
    font-size: 100px;
    font-weight: bolder;
    text-align : center;
}

.tittle {
    color: rgb(28, 11, 124);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#introduction {
    color: rgb(117, 83, 8);
    font-size: 40px;
    font-weight: bolder;
    text-align : center;
}

.secciones {
    color: rgb(8, 117, 13);
    font-size: 50px;
    font-weight: bolder;
    text-align : center;
}

#direccion {
    color: rgb(117, 8, 8);
    font-size: 45px;
    font-weight: bolder;
    text-align : center;
}
